asgiref==3.8.1
crispy-bootstrap4==2024.10
Django==5.1.5
django-crispy-forms==2.3
python-magic-bin==0.4.14
sqlparse==0.5.3
tzdata==2024.2
django>=4.0
psycopg2-binary>=2.9.3  # For PostgreSQL full-text search
django-crispy-forms>=1.14.0  # For better form rendering
